@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Roboto;

  src: url("./assets/fonts/roboto-400.woff2") format("woff2"),
    url("./assets/fonts/roboto-400.woff") format("woff");
  text-rendering: optimizeSpeed;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Roboto;

  src: url("./assets/fonts/roboto-700.woff2") format("woff2"),
    url("./assets/fonts/roboto-700.woff") format("woff");
  text-rendering: optimizeSpeed;
}

/* Reset browser styles */
html * {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  user-select: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  position: relative;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body ul > li > a {
  text-decoration: none;
}
